#family {
  width: 500px;
  height: auto;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  border: 1px solid #000;
  background-color: yellow;
}
#family h2 {
  padding: 0.5rem;
}
#family ul {
  background-color: rgb(206, 255, 255);
  position: absolute;
  bottom: calc(100% - 1px);
  left: 0;
  right: 0;
  border: 1px solid #000;
  border-bottom: 0;
  padding: 0 1rem;
  max-height: 0;
  transition: 0.5s;
  overflow: hidden;
}
#family ul li {
  margin-bottom: 20px;
}
#family ul::before, #family ul::after {
  content: "";
  display: block;
  height: 40px;
}
#family.open ul, #family:hover ul {
  max-height: 300px;
}