.itemcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hd .inner h1 .logo {
  background-image: url("https://raw.githubusercontent.com/KSH7131/portfolio_01/150df3059252ff30f82e677c8298dbaf85cf9753/ksh/image/favicon_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  max-width: 150px;
  width: 30vw;
}
@media (min-width: 991px) {
  #hd .inner h1 .logo {
    background-image: url("https://raw.githubusercontent.com/KSH7131/portfolio_01/150df3059252ff30f82e677c8298dbaf85cf9753/ksh/image/favicon_blue.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 150px;
    height: 60px;
  }
}
#hd nav a {
  color: black;
}
#hd nav > ul:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 0;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  border-bottom: 1px solid rgb(224, 224, 224);
}
#hd nav > ul:hover::before {
  height: 15rem;
}
#hd nav > ul > li:nth-child(2) .position-absolute {
  right: unset;
}
#hd nav > ul > li:nth-child(2) .position-absolute ul {
  display: inline-block;
}
#hd nav > ul > li a {
  font-size: 1.5em;
  padding: 30px 1.5rem;
  margin-right: 0;
}
#hd nav > ul > li .position-absolute {
  background-color: white;
  left: 0;
  right: 0;
  top: 100%;
  min-width: 150px;
  padding: 0 1rem;
  max-height: 0;
  overflow: hidden;
}
#hd nav > ul > li .position-absolute ul > li > a {
  font-size: 1rem;
}
#hd nav > ul > li:hover > a {
  color: orange;
}
#hd nav > ul:hover .position-absolute {
  transition: 0.5s;
  max-height: 300px;
}

#hd_allBtn_ksh {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">         <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/></svg>');
  width: 2rem;
  height: 2rem;
  background-size: cover;
}

@media (max-width: 991px) {
  #navi {
    position: absolute;
  }
  #navi .position-absolute {
    position: unset !important;
  }
}

body.menuOpen:after {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
body.menuOpen #hd #hd_allBtn_ksh {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16"> <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/> </svg>');
  width: 2rem;
  height: 2rem;
  background-size: cover;
}
body.menuOpen #hd nav {
  display: block !important;
}

#mainBanner .swiper-slide {
  background-color: #000;
  color: white;
  font-size: 100px;
  opacity: 1;
  transition: 0.5s;
}
#mainBanner .swiper-slide.swiper-slide-active {
  opacity: 0.5;
  font-size: 200px !important;
  background-color: red;
}